.contact{
  color:@lightgrey;
  padding:50px;
  background-color: @darkgrey;

  hr{
    border: 3px solid @lightgrey;
    width: 10%;
  }
  p{
    line-height: 20px;
    letter-spacing: 2px;
    color:@lightgrey;
    font-weight: 100;
  }
}
.form-container{
   input{
     font-weight: 100;
     display: block;
     padding: 10px 0px 22px 0px;
     border: none;
     border-radius: 0px;
     border-bottom: 1px solid #d5d5d5;
     outline: none;
     margin-bottom: 20px;
     background: none;
     color: @lightgrey;
   }
 textarea{
  font-weight: 100;
  padding: 10px 0px 22px 0px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #d5d5d5;
  outline: none;
  margin-bottom: 20px;
  background: transparent;
  color: @lightgrey;
}
 }
.form-field{
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
}
.form-field:focus {
  background: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-bottom: 1px solid @white;

}

.btn-submit {
  border: none;
  background: none;
  text-transform: uppercase;
  text-decoration: none;
}
.btn-submit:hover {
  background: @brand-primary;
  color: @white;
}

.contact-us{

  .form-container{
    input{
      font-weight: 100;
      display: block;
      padding: 10px 0px 22px 0px;
      border: none;
      border-radius: 0px;
      border-bottom: 1px solid #d5d5d5;
      outline: none;
      margin-bottom: 20px;
      background: none;
      color: @black;
      box-shadow: none;
      -moz-box-shadow: none;
    }
    textarea{
      font-weight: 100;
      padding: 10px 0px 22px 0px;
      border: none;
      border-radius: 0px;
      border-bottom: 1px solid #d5d5d5;
      outline: none;
      margin-bottom: 20px;
      background: transparent;
      color: @black;
      box-shadow: none;
      -moz-box-shadow: none;
    }
  }
  .form-field{
    border: none;
    border-bottom: 1px solid @black;
    background: transparent;
  }
  .form-field:focus {
    background: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-bottom: 1px solid @black;

  }
}